<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
 

<svg  class="icon icon--wide icon-chevron-mydown" xmlns="http://www.w3.org/2000/svg" width="11.191" height="7.828" viewBox="0 0 11.191 7.828">
  <path id="Path_9521" data-name="Path 9521" d="M1.482,11.191,7.828,6.612V4.579L1.482,0,0,1.71,5.51,5.586,0,9.481Z" transform="translate(11.191) rotate(90)" fill="#1c2f5c" opacity="0.6"/>
</svg>


</span>
